<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <title>About</title>
    <link rel="stylesheet" href="/static/About.css" media="screen">
    <script class="u-script" type="text/javascript" src="/static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/nicepage.js" defer=""></script>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.ico">
</head>

<body class="u-body u-xl-mode">
    <div class="lolo">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
      </filter>
    </defs>
  </svg>
    <div class="mostam" style="opacity:0">
        <%- include("header") -%>
            <section class="u-align-center u-clearfix u-palette-5-light-2 u-section-1" id="carousel_b161">
                <div class="u-clearfix u-sheet u-sheet-1"><span class="u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/7368615.png" alt=""></span>
                    <h2 class="u-text u-text-default u-text-palette-1-base u-text-1">About Me</h2>
                    <div class="u-expanded-width u-list u-list-1">
                        <div class="u-repeater u-repeater-1">
                            <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-1">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                                    <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-1-base u-text-2">Frontend dev<br>
                                    </h5><span class="u-file-icon u-hover-feature u-icon u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="/static/images/yyy.png" alt=""></span>
                                    <p class="u-text u-text-grey-50 u-text-3">Sample text. Click to select the text box. Click again or double click to start editing the text.&nbsp;Excepteur sint occaecat cupidatat non proident.</p>
                                    <a href="/" class="u-active-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-palette-2-light-2 u-none u-radius-50 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-1">more</a>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-2">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                                    <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-1-base u-text-4">backend dev</h5><span class="u-file-icon u-hover-feature u-icon u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="\static\images\1.png" alt=""></span>
                                    <p class="u-text u-text-grey-50 u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.&nbsp;Excepteur sint occaecat cupidatat non proident.</p>
                                    <a href="/" class="u-active-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-palette-2-light-2 u-none u-radius-50 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-2">more</a>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-3">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                                    <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-1-base u-text-6">database dev</h5><span class="u-file-icon u-hover-feature u-icon u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="/static/images/ggggggggggggg.png" alt=""></span>
                                    <p class="u-text u-text-grey-50 u-text-7">Sample text. Click to select the text box. Click again or double click to start editing the text.&nbsp;Excepteur sint occaecat cupidatat non proident.</p>
                                    <a href="/" class="u-active-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-palette-2-light-2 u-none u-radius-50 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-3">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <section class="u-align-center u-clearfix u-palette-5-light-2 u-section-2" id="carousel_18e0">
                <div class="u-clearfix u-sheet u-sheet-1"><span class="u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/6165510.png" alt=""></span>
                    <h2 class="u-text u-text-default u-text-palette-1-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Education</h2>
                    <div class="u-expanded-width u-list u-list-1">
                        <div class="u-repeater u-repeater-1">
                            <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-1">
                                <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-hover-feature u-icon u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="/static/images/1.png" alt=""></span>
                                    <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-1-base u-text-2">basic school</h5>
                                    <p class="u-text u-text-grey-50 u-text-3">Sample text. Click to select the text box. Click again or double click to start editing the text.&nbsp;Excepteur sint occaecat cupidatat non proident.</p>
                                    <a href="/" class="u-active-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-palette-2-light-2 u-none u-radius-50 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-1">more</a>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-2">
                                <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-hover-feature u-icon u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="/static/images/2-22.png" alt=""></span>
                                    <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-1-base u-text-4">high school</h5>
                                    <p class="u-text u-text-grey-50 u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.&nbsp;Excepteur sint occaecat cupidatat non proident.</p>
                                    <a href="/" class="u-active-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-palette-2-light-2 u-none u-radius-50 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-2">more</a>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-3">
                                <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-hover-feature u-icon u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="/static/images/56.png" alt=""></span>
                                    <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-1-base u-text-6">college</h5>
                                    <p class="u-text u-text-grey-50 u-text-7">Sample text. Click to select the text box. Click again or double click to start editing the text.&nbsp;Excepteur sint occaecat cupidatat non proident.</p>
                                    <a href="/" class="u-active-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-palette-2-light-2 u-none u-radius-50 u-text-active-palette-4-light-2 u-text-body-alt-color u-text-hover-palette-4-light-2 u-btn-3">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <section class="u-align-center u-clearfix u-palette-5-light-2 u-section-3" id="carousel_a5fd">
                <div class="u-clearfix u-sheet u-sheet-1"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/2721099.png" alt=""></span>
                    <h1 class="u-text u-text-default u-text-palette-1-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">My Hobbies<br>
                    </h1>
                    <div class="u-expanded-width-xs u-list u-list-1">
                        <div class="u-repeater u-repeater-1">
                            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                                    <img src="/static/images/users-with-speech-bubbles-vector_53876-82250.jpg" alt="" class="u-expanded-width u-hover-feature u-image u-image-contain u-image-default u-image-1" data-image-width="626" data-image-height="625" data-animation-name="flipIn" data-animation-duration="1000"
                                        data-animation-direction="X">
                                    <h4 class="u-text u-text-default u-text-palette-1-base u-text-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">reading</h4>
                                    <p class="u-text u-text-palette-1-dark-2 u-text-3">Pretium lectus quam id leo in vitae turpis. Mattis pellentesque id nibh tortor id.</p>
                                    <a href="/" class="u-active-palette-1-base u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-1" target="_blank">more</a>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                                    <img src="/static/images/fdf.jpg" alt="" class="u-expanded-width u-hover-feature u-image u-image-default u-image-2" data-image-width="626" data-image-height="625" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
                                    <h4 class="u-text u-text-default u-text-palette-1-base u-text-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">exploring</h4>
                                    <p class="u-text u-text-palette-1-dark-2 u-text-5"> Nunc consequat interdum varius sit amet mattis vulputate enim nulla. Risus feugiat.</p>
                                    <a href="/" class="u-active-palette-1-base u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-2" target="_blank">More</a>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                                    <img src="/static/images/dsds.jpg" alt="" class="u-expanded-width u-hover-feature u-image u-image-contain u-image-default u-image-3" data-image-width="626" data-image-height="626" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">
                                    <h4 class="u-text u-text-default u-text-palette-1-base u-text-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">coding</h4>
                                    <p class="u-text u-text-palette-1-dark-2 u-text-7">Nisl purus in mollis nunc sed id semper. Rhoncus aenean vel elit scelerisque mauris.</p>
                                    <a href="/" class="u-active-palette-1-base u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-palette-1-base u-palette-1-base u-radius-50 u-text-active-white u-text-hover-white u-btn-3" target="_blank">more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <%- include("footer") -%>
    </div>
    <script>
        let prel = document.querySelector(".lolo");
        let mostam = document.querySelector(".mostam");
        window.addEventListener("load", () => {
            setTimeout(() => {
                prel.style.display = "none";
                mostam.style.opacity = 1;
            }, 0)
        })
    </script>
</body>

</html>