<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Skills</title>
    <link rel="stylesheet" href="/static/nicepage.css" media="screen">
    <meta name="generator" content="Nicepage 4.12.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link rel="icon" type="image/x-icon" href="/static/images/logo.ico">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Skills">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <!-- <link rel="stylesheet" href="/static/loader.css"> -->
</head>

<body class="u-body u-xl-mode">
    <header class="u-clearfix u-header u-header" id="sec-ebaf">
        <div class="u-clearfix u-sheet u-sheet-1">
            <a href="/" class="u-image u-logo u-image-1" data-image-width="150" data-image-height="150">
                <img src="/static/images/icons8_physics.svg" class="u-logo-image u-logo-image-1">
            </a>
            <a href="/" class="u-align-center-xs u-image u-logo u-image-2" data-image-width="32" data-image-height="32" data-animation-name="customAnimationIn" data-animation-duration="1000">
                <img src="/static/images/icons8_physics.svg" class="u-logo-image u-logo-image-2">
            </a>
            <h2 class="u-subtitle u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">JOXIC<br>
            </h2>
            <nav class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-menu u-menu-mega u-offcanvas u-menu-1" data-responsive-from="MD">
                <div class="menu-collapse" style="font-size: 1rem;">
                    <a class="u-button-style u-nav-link" href="#" style="padding: 13px 0px; font-size: calc(1em + 26px);">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8a8f"></use></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-8a8f" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </a>
                </div>
                <div class="u-custom-menu u-nav-container">
                    <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
                        <li class="u-nav-item"><a class="u-active-grey-80 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base"
                                href="/" style="padding: 10px 20px;">Home</a>
                        </li>
                        <li class="u-nav-item"><a class="u-active-grey-80 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base"
                                href="/About" style="padding: 10px 20px;">About</a>
                        </li>
                        <li class="u-nav-item"><a class="u-active-grey-80 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base"
                                href="/Contact" style="padding: 10px 20px;">Contact</a>
                        </li>
                        <li class="u-nav-item"><a class="u-active-grey-80 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-hover-white u-text-palette-1-base"
                                href="/Skills" style="padding: 10px 20px;">Skills</a>
                        </li>
                    </ul>
                </div>
                <div class="u-custom-menu u-nav-container-collapse">
                    <div class="u-align-center u-container-style u-custom-color-2 u-inner-container-layout u-opacity u-opacity-95 u-sidenav u-sidenav-1" data-offcanvas-width="364.371">
                        <div class="u-inner-container-layout u-sidenav-overflow">
                            <div class="u-menu-close"></div>
                            <ul class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-nav u-popupmenu-items u-spacing-37 u-text-active-palette-4-light-2 u-text-hover-palette-4-dark-1 u-text-white u-unstyled u-nav-2">
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/About">About</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Contact">Contact</a>
                                </li>
                                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/Skills">Skills</a>
                                </li>
                            </ul>
                            <!--position-->
                            <div data-position="" class="u-expanded-width-lg u-expanded-width-xl u-position u-position-1">
                                <!--block-->
                                <div class="u-block">
                                    <div class="u-block-container u-clearfix">
                                        <!--block_header-->
                                        <h2 class="u-block-header u-subtitle u-text u-text-custom-color-3 u-text-2">
                                            <!--block_header_content-->JOXIC
                                            <!--/block_header_content-->
                                        </h2>
                                        <!--/block_header-->
                                        <!--block_content-->
                                        <div class="u-block-content u-text">
                                            <!--block_content_content-->
                                            <!--/block_content_content-->
                                        </div>
                                        <!--/block_content-->
                                    </div>
                                </div>
                                <!--/block-->
                            </div>
                            <!--/position--><span class="u-align-center-md u-align-center-sm u-align-center-xs u-file-icon u-icon u-icon-1"><img src="/static/images/icons8_physics.svg" alt=""></span><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="/static/images/2.png" alt=""></span>
                            <span class="u-file-icon u-icon u-text-white u-icon-3"><img src="/static/images/3.png" alt=""></span><span class="u-file-icon u-icon u-text-white u-icon-4"><img src="/static/images/4.png" alt=""></span><span class="u-file-icon u-icon u-text-white u-icon-5"><img src="/static/images/5.png" alt=""></span>
                        </div>
                    </div>
                    <div class="u-black u-menu-overlay u-opacity u-opacity-55"></div>
                </div>
            </nav>
            <div class="u-social-icons u-spacing-25 u-social-icons-1" data-animation-name="lightSpeedIn" data-animation-duration="1000" data-animation-direction="">
                <a class="u-social-url" title="github" target="_blank" href="https://github.com/arindam-1521"><span class="u-file-icon u-icon u-social-facebook u-social-icon u-icon-6"><img src="/static/images/1051326.png" alt=""></span>
          </a>
                <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/MobileArindam"><span class="u-file-icon u-icon u-social-icon u-social-twitter u-text-grey-90 u-icon-7"><img src="/static/images/7.png" alt=""></span>
          </a>
                <a class="u-social-url" title="instagram" target="_blank" href="/"><span class="u-file-icon u-icon u-social-icon u-social-instagram u-text-grey-90 u-icon-8"><img src="/static/images/8.png" alt=""></span>
          </a>
                <a class="u-social-url" title="youtube" target="_blank" href="/"><span class="u-file-icon u-icon u-social-icon u-social-youtube u-text-grey-90 u-icon-9"><img src="/static/images/9.png" alt=""></span>
          </a>
            </div>
        </div>
    </header>
</body>