<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <title>Home</title>
    <link rel="stylesheet" href="/static/Home2.css" media="screen">
    <script class="u-script" type="text/javascript" src="/static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/nicepage.js" defer=""></script>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.ico">
    <link rel="stylesheet" href="/static/loader.css">
</head>

<body class="u-body u-xl-mode">
    <div class="lolo">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: none">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7"/>
      </filter>
    </defs>
  </svg>

    <div class="mostam" style="opacity:0">
        <%- include("header") -%>
            <section class="u-align-center u-clearfix u-gradient u-section-1" id="carousel_5d9c">
                <div class="u-clearfix u-sheet u-sheet-1">
                    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                        <div class="u-gutter-0 u-layout">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
                                    <div class="u-container-layout u-valign-top u-container-layout-1"><span class="u-border-custom-color-5 u-file-icon u-hover-feature u-icon u-icon-circle u-palette-1-base u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="/static/images/6911554.png" alt=""></span>
                                        <h2 class="u-custom-font u-font-arial u-text u-text-body-alt-color u-text-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X">WELCOME EVERYONE TO MY PERSONAL WEBSITE</h2>
                                        <p class="u-text u-text-body-alt-color u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        <a href="/" class="u-active-palette-1-light-3 u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-3 u-radius-50 u-text-active-palette-1-base u-text-hover-palette-1-base u-text-palette-1-base u-white u-btn-1" data-animation-name="flipIn"
                                            data-animation-duration="1000" data-animation-direction="X">read more</a>
                                    </div>
                                </div>
                                <div class="u-container-style u-layout-cell u-right-cell u-size-30-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                                    <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                                        <div class="u-opacity u-opacity-65 u-palette-4-light-2 u-shape u-shape-circle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1000"></div>
                                        <img class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-hover-feature u-image u-image-contain u-image-default u-image-1" data-image-width="959" data-image-height="947" src="/static/images/ddd-min.png" data-animation-name="customAnimationIn"
                                            data-animation-duration="1000">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
            <section class="u-clearfix u-valign-middle u-section-2" id="carousel_863b">
                <img class="u-expanded-height-lg u-expanded-height-md u-expanded-height-xl u-flip-horizontal u-image u-image-1" src="/static/images/weee.jpg" data-image-width="1152" data-image-height="1080">
                <div class="u-align-left u-container-style u-group u-opacity u-opacity-60 u-shape-rectangle u-white u-group-1">
                    <div class="u-container-layout u-container-layout-1"><span class="u-file-icon u-hover-feature u-icon u-icon-circle u-palette-1-base u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/1141123.png" alt=""></span>
                        <h2 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">About JOXIC</h2>
                        <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000">Quickly incentivize impactful action items before tactical collaboration and idea-sharing. Monotonically engage market-driven intellectual capital.</p>
                        <a href="/" class="u-btn u-btn-round u-button-style u-radius-10 u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1000">learn more</a>
                    </div>
                </div>

            </section>
            <section class="u-clearfix u-grey-10 u-section-3" id="carousel_3392">
                <div class="u-container-style u-expanded-width u-gradient u-group u-shape-rectangle u-group-1">
                    <div class="u-container-layout u-container-layout-1"></div>
                </div>
                <img class="u-hover-feature u-image u-image-contain u-image-default u-image-1" data-image-width="623" data-image-height="536" src="/static/images/fgfg5.png" data-animation-name="customAnimationIn" data-animation-duration="1250">
                <div class="u-container-style u-group u-radius-50 u-shape-round u-white u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1250">
                    <div class="u-container-layout u-valign-bottom-sm u-container-layout-2">
                        <img class="u-hover-feature u-image u-image-contain u-image-default u-image-2" src="/static/images/fddfdf.png" alt="" data-image-width="334" data-image-height="356" data-animation-name="customAnimationIn" data-animation-duration="1250">
                        <span class="u-file-icon u-hover-feature u-icon u-icon-circle u-palette-1-base u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction=""><img src="/static/images/3176298.png" alt=""></span>
                        <h3 class="u-align-left u-text u-text-1">Explore More</h3>
                        <p class="u-text u-text-2">Habitant morbi tristique senectus et. Nec dui nunc mattis enim ut tellus. Semper auctor neque vitae tempus quam pellentesque nec nam aliquam.&nbsp;<br>
                            <br>
                        </p>
                        <a href="/" class="u-active-palette-2-light-1 u-border-none u-btn u-btn-round u-button-style u-gradient u-hover-palette-2-light-1 u-none u-radius-50 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">learn more</a>
                    </div>
                </div>
                <img class="u-hover-feature u-image u-image-default u-preserve-proportions u-image-3" src="/static/images/aaaaa-min.png" alt="" data-image-width="709" data-image-height="709" data-animation-name="customAnimationIn" data-animation-duration="1000">
                <img class="u-hover-feature u-image u-image-default u-image-4" src="/static/images/gfg.png" alt="" data-image-width="812" data-image-height="320" data-animation-name="customAnimationIn" data-animation-duration="1250">





            </section>
            <%- include("footer") %>
    </div>
    <script>
        let prel = document.querySelector(".lolo");
        let mostam = document.querySelector(".mostam");
        window.addEventListener("load", () => {
            setTimeout(() => {
                prel.style.display = "none";
                mostam.style.opacity = 1;
            }, 0)
        })
    </script>
</body>

</html>