<!DOCTYPE html>
<html style="font-size: 16px;">

<head>
    <title>Skills</title>
    <link rel="stylesheet" href="/static/Skills.css" media="screen">
    <script class="u-script" type="text/javascript" src="/static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/nicepage.js" defer=""></script>
    <link rel="icon" type="image/x-icon" href="/static/images/logo.ico">
</head>

<body class="u-body u-xl-mode">
    <%- include("header") -%>
        <section class="u-align-center u-clearfix u-section-1" id="carousel_710b">
            <img class="u-expanded-width u-image u-image-1" src="/static/images/3e8f9929-f4fb-4379-b504-61836d1f1929.jpg" data-image-width="1512" data-image-height="1080">
            <h2 class="u-align-center u-text u-text-body-alt-color u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">My Skills Here</h2>
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-gradient u-list-item u-opacity u-opacity-70 u-radius-50 u-repeater-item u-shape-round u-list-item-1">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span class="u-file-icon u-icon u-icon-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X"><img src="/static/images/5968472.png" alt=""></span>
                            <h3 class="u-custom-font u-text u-text-body-alt-color u-text-font u-text-2" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">70%</h3>
                            <p class="u-text u-text-palette-1-light-3 u-text-3">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-gradient u-list-item u-opacity u-opacity-70 u-radius-50 u-repeater-item u-shape-round u-list-item-2">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span class="u-file-icon u-icon u-icon-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X"><img src="/static/images/5968428.png" alt=""></span>
                            <h3 class="u-custom-font u-text u-text-body-alt-color u-text-font u-text-4" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">66%</h3>
                            <p class="u-text u-text-palette-1-light-3 u-text-5">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-gradient u-list-item u-opacity u-opacity-70 u-radius-50 u-repeater-item u-shape-round u-list-item-3">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span class="u-file-icon u-icon u-icon-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X"><img src="/static/images/5968525.png" alt=""></span>
                            <h3 class="u-custom-font u-text u-text-body-alt-color u-text-font u-text-6" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">53%</h3>
                            <p class="u-text u-text-palette-1-light-3 u-text-7">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-gradient u-list-item u-opacity u-opacity-70 u-radius-50 u-repeater-item u-shape-round u-list-item-4">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"><span class="u-file-icon u-icon u-icon-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X"><img src="/static/images/5968520.png" alt=""></span>
                            <h3 class="u-custom-font u-text u-text-body-alt-color u-text-font u-text-8" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="3000">51%</h3>
                            <p class="u-text u-text-palette-1-light-3 u-text-9">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                        </div>
                    </div>
                </div>
            </div><span class="u-file-icon u-hover-feature u-icon u-icon-circle u-palette-1-base u-icon-5" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/4185738.png" alt=""></span>

        </section>
        <section class="u-clearfix u-image u-section-2" id="carousel_bc99" data-image-width="2873" data-image-height="1753">
            <div class="u-clearfix u-sheet u-sheet-1"><span class="u-file-icon u-hover-feature u-icon u-icon-1" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/7364279.png" alt=""></span>
                <h1 class="u-text u-text-default u-title u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000">Languages<span style="font-weight: 700;"></span>
                </h1>
                <div class="u-expanded-width u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                        <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-1">
                            <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-hover-feature u-icon u-icon-2" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/1051277.png" alt=""></span>
                                <div class="u-container-style u-custom-color-8 u-custom-item u-group u-shape-circle u-group-1">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                                        <h1 class="u-custom-item u-text u-text-body-alt-color u-title u-text-2" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="5000">92%</h1>
                                    </div>
                                </div>
                                <h6 class="u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">HTML</h6>
                                <p class="u-text u-text-4">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-2">
                            <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-hover-feature u-icon u-icon-3" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/732190.png" alt=""></span>
                                <div class="u-container-style u-custom-color-9 u-custom-item u-group u-shape-circle u-group-2">
                                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                                        <h1 class="u-custom-item u-text u-text-body-alt-color u-title u-text-5" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="5000">37%</h1>
                                    </div>
                                </div>
                                <h6 class="u-text u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">CSS</h6>
                                <p class="u-text u-text-7">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-3">
                            <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-hover-feature u-icon u-icon-4" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/5968292.png" alt=""></span>
                                <div class="u-container-style u-custom-color-10 u-custom-item u-group u-shape-circle u-group-3">
                                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                                        <h1 class="u-custom-item u-text u-title u-text-8" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="5000">25%</h1>
                                    </div>
                                </div>
                                <h6 class="u-text u-text-9" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">Javascript</h6>
                                <p class="u-text u-text-10">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-4">
                            <div class="u-container-layout u-similar-container u-container-layout-7"><span class="u-file-icon u-hover-feature u-icon u-icon-5" data-animation-name="customAnimationIn" data-animation-duration="1000"><img src="/static/images/5968350.png" alt=""></span>
                                <div class="u-container-style u-custom-color-11 u-custom-item u-group u-shape-circle u-group-4">
                                    <div class="u-container-layout u-valign-middle u-container-layout-8">
                                        <h1 class="u-custom-item u-text u-text-custom-color-12 u-title u-text-11" data-animation-name="counter" data-animation-event="scroll" data-animation-duration="5000">25%</h1>
                                    </div>
                                </div>
                                <h6 class="u-text u-text-12" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-direction="">python</h6>
                                <p class="u-text u-text-13">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </section>
        <%- include("footer") -%>


</body>

</html>