*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    line-height: 1.6;
    background: #F2F1EF;
}

.lolo {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 10px;
    background: #ffffff;
    /* background: #3498DB; */
    border-radius: 5px;
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
}

.lolo:before,
.lolo:after {
    position: absolute;
    display: block;
    content: "";
    -webkit-animation: load 1.8s ease-in-out infinite;
    animation: load 1.8s ease-in-out infinite;
    height: 10px;
    border-radius: 5px;
}

.lolo:before {
    top: -20px;
    left: 10px;
    width: 40px;
    background: #ffffff;
    /* background: #EF4836; */
}

.lolo:after {
    bottom: -20px;
    width: 35px;
    background: #ffffff;
    /* background: #F5AB35; */
}

@-webkit-keyframes load {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(30px);
    }
}

@keyframes load {
    0% {
        transform: translateX(30px);
    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(30px);
    }
}